a {
    text-decoration: none;
    color: #000;
}
.product-card{
   width: 355px;
   min-height: 528px;
   padding: 10px 16px;
   border-radius: 10px;
   background: #f4f4f4;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid #aeaeae;
}
.product-card__img {
    width: 330px;
    height: 382px;
    object-fit: cover;
    border-radius: 10px;
}
.product-card__body{

}
.product-card__title{
   font-size: 32px;
   text-decoration: none;
   color: #000;
}
.product-card__text {
    font-size: 32px;
    color: #000;
}