<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark menu">
            <div class="container-fluid">
                <a class="navbar-brand logo d-flex align-items-center" asp-area="" asp-controller="Catalog" asp-action="Index"><img src="~/img/logo.png" alt="Alternate Text" style="margin-right:27px;" />MarketHub</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            @* <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-controller="Ideas" asp-action="MyIdeas"
                                   asp-route-userId="@User.FindFirst("userId")!.Value">Мои идеи</a>
                            </li> *@
                        }
                    </ul>
                    <div class="d-flex menu__list">
                        <li class="menu__link">
                            <a class="nav-link active" asp-controller="Account" asp-action="Login"><img src="~/img/icons/профиль.png" alt="Alternate Text" /></a>
                            <ul class="sub-menu__list">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a class="sub-menu__link" asp-controller="Account" asp-action="Login">Авторизация</a></li>
                                    <li><a class="sub-menu__link" asp-controller="Account" asp-action="Register">Регистрация</a></li>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a class="sub-menu__link" asp-controller="" asp-action="">@User.FindFirst("email")!.Value</a></li>
                                    <li>
                                        <form method="post" asp-controller="Account" asp-action="Logout">
                                            <input class="sub-menu__link" type="submit" value="Выход" />
                                        </form>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="menu__link">
                            <a class="nav-link active"><img src="~/img/icons/заказы.png" alt="Alternate Text" /></a>
                        </li>
                        <li class="menu__link">
                            <a class="nav-link active"><img src="~/img/icons/корзина.png" alt="Alternate Text" /></a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>