@model ProductViewModel
@section Styles {

    <link rel="stylesheet" href="~/css/Product/create.css" asp-append-version="true" />
}

<div class="container">
    <h1 class="mb-3">Добавление товара</h1>
    <form class="input-panel" autocomplete="on" method="post" asp-controller="Product" asp-action="CreateProduct" enctype="multipart/form-data">
        <div class="input-panel__column">
            <h4 class="input__title">Детали товара</h4>
            <div class="input-panel__row">
                <label asp-for="Name" class="input__title">Название товара</label>
                <input asp-for="Name" type="text" class="input-panel__input" name="Name" required autocomplete="Name" autofocus placeholder="Название">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        
            <div class="input-panel__row">
                <label asp-for="Name" class="input__title">Цвет товара</label>
                <input asp-for="Color" type="text" class="input-panel__input" name="Color" required autocomplete="Color" placeholder="Цвет">
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        
            <div class="input-panel__row">
                <label asp-for="Price" class="input__title">Цена товара</label>
                <input asp-for="Price" type="number" class="input-panel__input" name="Price" required autocomplete="Price" min="0" placeholder="Цена">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="input-panel__row">
                <label asp-for="Description" class="input__title">Описание товара</label>
                <input asp-for="Description" type="text" class="input-panel__input" name="Description" required autocomplete="Description" placeholder="Описание">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        
            
        
            <div class="input-panel__row">
                <label asp-for="CoverImage" class="input__title" style="cursor: pointer;">Загрузить картинку товара <img src="~/img/icons/download.png" alt=""></label>
                <input asp-for="CoverImage" type="file" class="form-control" name="CoverImage" accept="image/*" hidden>
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
        </div>
        
        <div class="input-panel__column">
            <div class="input-panel__row">
                <h4 class="input__title">Подкатегория товара</h4>
                <div class="subcategory-container">
                    <div>
                        <input asp-for="SubcategoryId" type="radio" value="@Model.Subcategories!.First()!.Id" id="sub-@Model.Subcategories!.First()!.Id" class="subcategory__input" checked hidden>
                        <label for="sub-@Model.Subcategories!.First()!.Id" class="subcategory__title">@Model.Subcategories!.First()!.Name</label>
                    </div>
                    @foreach (var subcategory in Model.Subcategories!.Skip(1))
                    {
                        <div>
                            <input asp-for="SubcategoryId" type="radio" value="@subcategory.Id" id="sub-@subcategory.Id" class="subcategory__input" hidden>
                            <label for="sub-@subcategory.Id" class="subcategory__title">@subcategory.Name</label>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="input-panel__column">
            <h4 class="input__title">Размер товара</h4>
            <div id="form-container">
                <div class="input-container">
                    <input id="size-name" type="text"  class="input-panel__input" placeholder="Размер"/>
                    <input id="size-amount" type="number"  class="input-panel__input" min="1" placeholder="Количество товара данного размера"/>
                </div>
                <div id="size-btn" id="">Добавить размер</div>
            </div>
            <div class="table-wrapper">
                <table class="sizes-table">
                    <thead>
                        <tr>
                            <th>Размер</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
           
        </div>
    
        
        <button type="submit">Добавить</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/Products/form.js"></script>
}