@{
    ViewData["Title"] = "Заказ оформлен";
}
@section Styles {

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Catalog/style.css" asp-append-version="true" />
}
<div class="container banner catalog__banner">
    <div class="banner__body">
        <div class="banner__run-line">MarketHubMarketHub</div>
        <div class="banner__square square">
            <div class="square__line"></div>
            <div class="square__text">Найди свой стиль</div>
            <div class="square__line"></div>
        </div>
        <img src="~/img/Order/male.png" alt="maleImg" class="banner__male">
        <img src="~/img/Order/female.png" alt="femaleImg" class="banner__female">
        <div class="banner__card">
            <div class="banner__title" style="font-size:64px;">Заказ оформлен</div>
            <div class="banner__text">Спасибо за заказ</div>
            <a asp-action="Index" asp-controller="Catalog" class="banner__btn">Перейти в каталог</a>
        </div>
        <div class="banner__run-line">MarketHubMarketHub</div>
    </div>
</div>