@model IndexViewModel
@{
    ViewData["Title"] = "Панель продавца";
}
@section Styles{

    <link rel="stylesheet" href="~/css/Home/home.css" asp-append-version="true" />
}
<div class="container">
    <div class="admin-panel home__admin-panel">
        <h1 class="admin-panel__title">Панель продавца</h1>
        <div class="admin-panel__grid">
            <button type="button" class="admin-panel__button" data-bs-toggle="modal" data-bs-target="#categories-modal">
                Добавить товар
            </button>
            <button class="admin-panel__button">Скоро</button>
            <a asp-controller="Product" asp-action="GetSellerProducts" class="admin-panel__button">Посмотреть свои товары</a>
            <button class="admin-panel__button">Скоро</button>
            <a asp-controller="Order" asp-action="GetActiveOrders" class="admin-panel__button">Активные заказы</a>
            <button class="admin-panel__button">Скоро</button>
            <button class="admin-panel__button">Скоро</button>
            <button class="admin-panel__button">Скоро</button>
        </div>
    </div>
    

    <div class="modal fade" id="categories-modal" tabindex="-1" aria-labelledby="categories-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите категорию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                    @foreach (var category in Model.Categories!)
                    {
                        <li>
                            <a asp-controller="Product" asp-action="CreateProduct" asp-route-category="@category.Id" class="modal-link">@category.Name</a>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>